.secretSantaContainer {
    display: flex;
    flex-direction: column;
    max-width: 350px;
    margin: 30px auto 0 auto;
}

.secretSantaContainer  h3 {
    margin-bottom: 5px;
}

.secretSantaContainer input {
    max-width: 300px;
}

.santaBtn {
    max-width: 300px;
}

@media(max-width: 1180px){
    .secretSantaContainer  h3 {
        color: white;
        text-shadow: 0 0 5px black;
    }
}