.loader {
    display: flex;
    justify-content: center;
}

.loader img {
    margin-top: 40px;
    max-width: 100px;
}

@media (max-width: 380px) {
    .loader img {
        max-width: 50px;
    }
}